@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

body{
    background-color:aliceblue;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.header {
    height: 70px;
    width: 100%;
    background-color: #fff;
    color: #FF7BBF;
    display: flex;
    position: fixed;
    top: 0;
}

.header .logo {
    height: 100%;
    width: 200px;
    display: block;
}

.header .logo img{
    height: 100%;
    display: block;
    margin: 0 auto;
}

.header h1{
    font-family: 'Coiny', cursive;
    margin: 0;
    align-items: center;
    display: flex;
    /* color: pink; */
}

.navbar{
    display: flex;
}

.main{
    height: 1000px;
    width: 1600px;
    display: block;
    margin: auto;
    margin-top: 70px;
}

.backgroundImg{
    width: 1600px;
    height: 700px;
    margin: auto;
    display: block;
}

.mainContainer {
    background-color: rgba(60, 60, 60, 0.05);
}

.container{
    margin-top: 50px;
    height: 300px;
    width: 1600px;
    display: block;
}

.scroll img{
    height: 200px;
    width: 200px;
    margin-left: 25px;
    margin-right: 25px;
}

.footer{
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}